@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #362FD9;
    font-family: 'Roboto', sans-serif;
}

header h1,footer{
    text-align: center;
    color: white;
}

main{
    border: 1px solid black;
    width: 400px;
    height: 670px;
    text-align: center;
    margin: 1em auto;
    padding: 10px;
    background-color: #1d5a7b;
    border-radius: 20px;
}

main form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input{
    /* width: 100%; */
    margin-top: 5px;
    outline: none;
    border-radius: 20px;
    border: none;

}

input[type=text], input[type=date],input[type=email]{
    width: 90%;
    text-align: center;
    padding: 5px 20px;
}

form label{
    font-weight: bolder;
    color: white;
    font-size: 18px;
    
}
form p {
    font-size: 20px;
    text-decoration: underline #85CDFD;
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;
}

form textarea{
    height: 100px;
    width: 90%;
    border-radius: 20px;
    padding: 5px;
}

form input[type=submit]{
    padding: 10px 20px;
    width: 90%;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;

}

form input[type=submit]:hover{
    background-color: #120f6a;
    color: white;
}